# Virtual environment
.venv/
venv/
.vscode/

# Data files
data/
*.csv
*.tsv
*.parquet
*.feather
*.xlsx
*.xls

# Python cache
__pycache__/
*.pyc

# System files
.DS_Store

# Hugging Face local cache
*.ckpt
